apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-provisioner
  namespace: enova
  labels:
    app: grafana
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'enova-dashboards'
        orgId: 1
        folder: 'ENOVA'
        folderUid: 'enova-folder'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 30
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: false
